
extends ../shared/template
block content
  #vacations
    .row
      .col-xs-4
        #map
      .col-xs-8
        table(class='table table-bordered')
          thead
            th Name
            th Start
            th End
            th Lat
            th Lng
          tbody
          each vacation in vacations
            tr(data-name=vacation.name, data-lat=vacation.lat, data-lng=vacation.lng)
              td: a(href='/vacations/#{vacation._id}')= vacation.name
              td= moment(vacation.start).format('MMM Do YYYY')
              td= moment(vacation.end).format('MMM Do YYYY')
              td= vacation.lat.toFixed(8)
              td= vacation.lng.toFixed(8)
block scripts
  script(src='/js/user/vacations.js')
